body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.product-details {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
}

.product-details img {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
}

.product-details div {
    padding: 20px;
    flex-grow: 1;
}

.product-details h3 {
    margin-top: 0;
}

.product-details p {
    font-size: 18px;
    line-height: 1.5;
}
.product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-info h3 {
    margin-bottom: 10px;
}

.product-info p {
    margin: 0;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.quantity-control label {
    font-size: 16px;
}

.quantity-control input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

#addToCart {
    background-color: #d4af37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#addToCart:hover {
    background-color: #d4af37;
}
